<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.padi.net.id">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://database.padinet.com">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://puji.angin.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="http://www.padi.net.id" target="_blank">PadiNET</a> webdev.
        </div>
    </div>
</footer>
