<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Survey</h4>
                        <p class="card-category"> Dashboard</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        Hari-H
                                    </th>
                                    <th>
                                        Minggu Berjalan
                                    </th>
                                    <th>
                                        Bulan Berjalan
                                    </th>
                                    <th>
                                        Quarter Berjalan
                                    </th>
                                    <th>
                                        Tahun Berjalan
                                    </th>
                                    </thead>
                                <tbody>
                                    <tr *ngFor="let i of [0,1,2,3,4]">
                                        <td>
                                            {{surveydaily[i].name}}
                                        </td>
                                        <td>
                                            {{surveydaily[i].val}}
                                        </td>
                                        <td>
                                            {{surveyweekly[i].val}}
                                        </td>
                                        <td>
                                            {{surveymonthly[i].val}}
                                        </td>
                                        <td>
                                            {{surveyquarterly[i].val}}
                                        </td>
                                        <td>
                                            {{surveyyearly[i].val}}
                                        </td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  