
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <a mat-button (click)="addLink()">
                <i class="material-icons">show_chart</i>
                <p> Add Offer</p>
            </a>
            <a mat-button class="nav-link" routerLink="/adminoffers">
                <i class="material-icons">reorder</i>
                <p> Show Offers</p>
            </a>
            <a mat-button class="nav-link" routerLink="/adminvisit">
                <i class="material-icons">reorder</i>
                <p> Add Visit</p>
            </a>
            <a mat-button class="nav-link" routerLink="/adminvisits">
                <i class="material-icons">reorder</i>
                <p> Show Visits</p>
            </a>
        </div>
        <div class="row" *ngFor="let sales of allsales">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Sales PadiNET</h4>
                        <p class="card-category"> {{sales.name}}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        Hari-H
                                    </th>
                                    <th>
                                        Minggu Berjalan
                                    </th>
                                    <th>
                                        Bulan Berjalan
                                    </th>
                                    <th>
                                        Quarter Berjalan
                                    </th>
                                    <th>
                                        Tahun Berjalan
                                    </th>
                                    </thead>
                                <tbody>
                                    <tr *ngFor="let i of [0,1,2,3,4]">
                                        <td>
                                            A
                                        </td>
                                        <td>
                                            B
                                        </td>
                                        <td>
                                            C
                                        </td>
                                        <td>
                                            D
                                        </td>
                                        <td>
                                            E
                                        </td>
                                        <td>
                                            F
                                        </td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  