<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Save Offer</h4>
                    <p class="card-category">Admin Tool</p>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Kode Penawaran" [(ngModel)]="offer.kdoffer">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Company" [(ngModel)]="offer.clientname">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Address" [(ngModel)]="offer.address">
                          </mat-form-field>
                      </div>
                    </div>


                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="PIC" type="text" [(ngModel)]="offer.pic">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" type="email" [(ngModel)]="offer.email">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Phone" type="text" [(ngModel)]="offer.phone">
                              </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <mat-select matInput placeholder="Service" type="text" [(ngModel)]="offer.service">
                                  <mat-option value=0>Enterprise</mat-option>
                                  <mat-option value=1>ABC</mat-option>
                                  <mat-option value=2>DEF</mat-option>
                                </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Price" type="text" [(ngModel)]="offer.price">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="Description" [(ngModel)]="offer.description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="save(offer)">
                          Save
                        </button>
                        <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
