<div class="logo">
    <a href="http://www.padi.net.id" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo_nontext.jpg"/>
        </div>
        PadiNet
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="/infrastructure">
                <i class="material-icons">group_work</i>
                <p>Infrastructure</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="/tickets">
                <i class="material-icons">theaters</i>
                <p>Tickets</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="/surveys">
                <i class="material-icons">visibility</i>
                <p>Surveys</p>
            </a>
        </li>
        <li routerLinkActive="active" class="" (click)="setActive(install)">
            <a class="nav-link" routerLink="/installs">
                <i class="material-icons">check_box</i>
                <p>Instalasi</p>
            </a>
        </li>
        <li routerLinkActive="active" class="">
            <a class="nav-link" routerLink="/troubleshoots">
                <i class="material-icons">settings_applications</i>
                <p>Troubleshoot</p>
            </a>
        </li>
        <li routerLinkActive="active" class="" (click)="setActive('sales')">
            <a class="nav-link" routerLink="/sales">
                <i class="material-icons">poll</i>
                <p>Sales</p>
            </a>
        </li>
        <!--
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>-->
    </ul>
</div>
