<p>
  PadiNEt Infrastructure Info
</p>
<mat-tab-group>
  <mat-tab label="Info">
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="component.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="component.address" placeholder="Address">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="component.city" placeholder="City">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="component.location" placeholder="Locations">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="component.nodetype" placeholder="Node Type">
        <mat-option value="{{nodetype.id}}" *ngFor="let nodetype of nodetypes">{{nodetype.name}}</mat-option>
      </mat-select>  
    </mat-form-field>    
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="component.description" placeholder="Description">
    </mat-form-field>
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-button (click)="updateComponent(component)">Update</button>
    <button mat-button (click)="removeComponent(component)">Remove</button>    
  </mat-tab>
  <mat-tab label="Neighbours ({{neighboursDataSource.length}})">
      <mat-table #table [dataSource]="neighboursDataSource" class="full-width">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="capacity">
          <mat-header-cell *matHeaderCellDef>Capacity</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.capacity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="vendor">
          <mat-header-cell *matHeaderCellDef>Vendor</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.vendor}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.lnk}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="neighbourColumns"></mat-header-row>
      <mat-row *matRowDef="let row;columns:neighbourColumns"></mat-row>
    </mat-table>
  </mat-tab>
</mat-tab-group>
    